*{
    margin: 0 auto;
}
#game{
  margin-top: 50px;
    width: 35rem;
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: bisque;
}
img{
  position: relative;
  left: 5%;
  width: 90%;
  top: 20px;
}
#dugmici{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding: 10px;
}
#tacna{
  background-color: LawnGreen !important;
  color: black;
}
#netacna{
  background-color: tomato !important;
  color: black;

}
#score{
  text-align: center;
  color: black;
  font-size: 5rem;
}
.opcija {
  outline: none !important;
  box-shadow: none !important;
}
@media only screen and (max-width: 650px){
  #game{
    width: 80%;
    height: auto;
  }
  #dugmici{
    flex-direction: column-reverse;
  }
  .opcija{
    margin-top: 10px !important;
  }
}